<div class="container">
    <div>
        <h4>Angular+Redux examples</h4>
    </div>
    <small>redux message: <strong>{{logMessage|async}}</strong></small>
    <ng-container *ngIf="isLoggedIn">
        <span class="badge badge-success">username: <strong>{{username}}</strong></span> 
        <span class="badge badge-success">isAdmin: <strong>{{isAdmin?"Y": "N"}}</strong></span>
    </ng-container>
    <button *ngIf="isLoggedIn" class="btn btn-primary btn-sm float-right" (click)="logout()">
        logout
    </button>
    <button *ngIf="showLoginButton" class="btn btn-primary btn-sm float-right" (click)="logout()">
        login
    </button>

    <div class="row">
        <div class="col-2 list-group small">
            <a class="list-group-item list-group-item-action" *ngFor="let item of menu" routerLinkActive="active"
                [routerLink]="item.path" [routerLinkActiveOptions]="{exact:true}">{{item.title}}</a>
        </div>
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>